<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crunchyroll_Downloader.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
              <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
       </assemblyBinding>
  </runtime>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
			
 <userSettings>
  <Crunchyroll_Downloader.My.MySettings>
   <setting name="DarkModeValue" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Pfad" serializeAs="String">
    <value />
   </setting>
   <setting name="Fun_Sub" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="ffmpeg_command" serializeAs="String">
    <value> -c copy -c:a copy -bsf:a aac_adtstoasc</value>
   </setting>
   <setting name="AddedSubs" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="FunimationDub" serializeAs="String">
    <value>Disabled</value>
   </setting>
   <setting name="FunimationHardsub" serializeAs="String">
    <value>Disabled</value>
   </setting>
   <setting name="DefaultSubFunimation" serializeAs="String">
    <value>Disabled</value>
   </setting>
   <setting name="SubFolder_Value" serializeAs="String">
    <value>[ ignore subfolder ]</value>
   </setting>
   <setting name="TempFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="Startseite" serializeAs="String">
    <value>https://www.crunchyroll.com/</value>
   </setting>
   <setting name="Prefix_S" serializeAs="String">
    <value>[default season prefix]</value>
   </setting>
   <setting name="Prefix_E" serializeAs="String">
    <value>[default episode prefix]</value>
   </setting>
   <setting name="DefaultSubCR" serializeAs="String">
    <value />
   </setting>
   <setting name="VideoFormat" serializeAs="String">
    <value>.mp4</value>
   </setting>
   <setting name="MergeSubs" serializeAs="String">
    <value>[merge disabled]</value>
   </setting>
   <setting name="KodiSupport" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Dark_Mode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Funimation_srt" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Funimation_vtt" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="QueueMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IncludeLangName" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CR_Chapters" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Curl_insecure" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DubMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Keep_Cache" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HybridMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HybridThread" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="LangNameType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SL_DL" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="Reso" serializeAs="String">
    <value>1080</value>
   </setting>
   <setting name="CR_NameMethode" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LeadingZero" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Funimation_Bitrate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ServerPort" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="IgnoreSeason" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Subtitle" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="ErrorTolerance" serializeAs="String">
    <value>0</value>
   </setting>
  </Crunchyroll_Downloader.My.MySettings>
 </userSettings>
</configuration>
