<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="103.0.9" targetFramework="net48" />
  <package id="cef.redist.x86" version="103.0.9" targetFramework="net48" />
  <package id="CefSharp.Common" version="103.0.90" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="103.0.90" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
</packages>